/* PADRAO TODA PAG*/

@import "/css/cores.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* ------------------ */

.forget {
    text-decoration: none;
    color: #3b7978;
    opacity: 50%;
    font-size: 13px;
    margin-bottom: 5px;
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form {
    padding: 8px;
    border: 0;
    border: 1px solid rgb(217, 217, 218);
    border-radius: 5px;
    margin-top: 10px;
    outline: 0;
    width: 70%;
    font-style: oblique;
    color: #4a4d4d;
    transition: border 1s;
}

.form:focus {
    border: 2px solid rgb(77, 77, 78);
}


.matricula {
    margin-top: 20px;
    outline: 0;
}

.psd {
    margin-bottom: 10px;
    outline: 0;
}

.text-login {
    color: #3a4e51;
    font-size: 30px;
    position: relative;
    bottom: 10%;
}

.form-entrar {
    padding: 10px;
    background-color: #2dc2ac;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    transition: 0, 5s;
    margin-block: 20px;
    padding-block: 10px;
    padding-inline: 15%;
    text-decoration: none;
}

.form-entrar:hover {
    background-color: #009694;
    color: white;
    cursor: pointer;
}

.form-slide {
    box-sizing: border-box;
    position: relative;
    top: 15%;
    padding: 10px;
    background-color: #0b4940;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    padding-block: 5px;
    padding-inline: 5%;
}

.form-slide:hover {
    background-color: #009694;
    color: white;
    cursor: pointer;
}

.login {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    margin: auto auto;
    align-items: center;
    border: 1px solid rgb(219, 214, 214);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 5%;
    justify-content: center;
}
.form-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.block-login-style {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
}

.slide-login {
    left: 50%;
    background: var(--cor-primaria);
}

.slide-left {
    background: var(--cor-primaria);
    animation: slide-left 2s ease-out;

}

@keyframes slide-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }

}

.logo-slide {
    width: 40%;
    position: relative;
    bottom: 30%;
}